

            <h5 class="card-title">Seleziona un file da caricare:</h5>
            <input type="file" name="input1" id="input1" (change)="onFileChange($event)"/>


<div class="row">
    <div class="col-xl-6" style="padding-right: 5px">
        <input type="name" [(ngModel)]="eventoNuovo.nomeEvento" [ngModelOptions]="{standalone: true}"> Titolo Inserzione
        <input type="address" [(ngModel)]="eventoNuovo.citta" [ngModelOptions]="{standalone: true}"> Città
    </div>
    <div class="col-xl-6" style="padding-left: 5px">
        <input type="number" min="0" [(ngModel)]="eventoNuovo.prezzo" [ngModelOptions]="{standalone: true}"> Prezzo
        <input type="surname" [(ngModel)]="eventoNuovo.provincia" [ngModelOptions]="{standalone: true}"> Provincia
    </div>
</div>
<br><br>
<textarea type="descr" [(ngModel)]="eventoNuovo.descrizione" [ngModelOptions]="{standalone: true}" placeholder="Descrizione"></textarea>
<button type="button" class="submit" (click)="caricaEvento()">Aggiungi inserzione</button>
            <div class="progress" *ngIf="toUpload">
                <div class="progress-bar progress-bar-striped bg-success"
                     role="progressbar"
                     [style.width]="(uploadProgress | async) + '%'"
                     [attr.aria-valuenow]="(uploadProgress | async)"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h6 *ngIf="uploadDone">Caricamento dell' inserzione completato!</h6>
<br>

<app-loader *ngIf="load"></app-loader>
