<div class="overlay" id="overlay" [ngClass]="open?'open':''">
    <nav class="overlay-menu">
        <ul>
            <li (click)="open = !open"><a routerLink="">Home</a></li>
            <li (click)="open = !open"><a routerLink="search">Cerca</a></li>
            <li (click)="open = !open"><a routerLink="profile">Profilo</a></li>
            <li (click)="open = !open"><a routerLink="conditions">Dettagli legali</a></li>
        </ul>
    </nav>
</div>

<div class="topnav" id="myTopnav">
    <br>
    <a routerLink="" >dummy</a>
    <br>
    <div class="button_container" id="toggle" (click)="clickEvent()" [ngClass]="open?'active':''">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>
</div>
