@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);

$color-background: #f5f5f5;
$color-main: #ff522c;
$color-active: #fff;
$color-link: #fff;

$button-height: 27px;
$button-width: 35px;

body {
    background: $color-background;
}

.container {
    position: absolute;
    width: 100%;
    heigh: 100%;
    text-align: center;
    top: 40%;
    left: 0;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;

p {
    font-size: 20px;
}

a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: $color-main;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;

&:after {
     content: "";
     position: absolute;
     background: $color-main;
     height: 2px;
     width: 0%;
     transform: translateX(-50%);
     left: 50%;
     bottom: 0;
     transition: 0.35s ease;
 }
&:hover:after,
&:focus:after,
&:active:after {
     width: 100%;
 }
}
}

h1 {
    position: relative;
    text-align: center;
    font-family: "Vollkorn", serif;
}

.button_container {
    position: absolute;
    top: 5%;
    right: 5%;
    height: $button-height;
    width: $button-width;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;

&:hover {
     opacity: 0.7;
 }

&.active {
.top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: $color-active;
}
.middle {
    opacity: 0;
    background: $color-active;
}

.bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: $color-active;
}
}

span {
    background: $color-main;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;

&:nth-of-type(2) {
     top: 11px;
 }

&:nth-of-type(3) {
     top: 22px;
 }
}
}

.overlay {
    position: fixed;
    background: $color-main;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 11;

&.open {
     opacity: 0.9;
     visibility: visible;
     height: 100%;

li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;

&:nth-of-type(2) {
     animation-delay: 0.4s;
 }
&:nth-of-type(3) {
     animation-delay: 0.45s;
 }
&:nth-of-type(4) {
     animation-delay: 0.5s;
 }
}
}
nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;

a {
    display: block;
    position: relative;
    color: $color-link;
    text-decoration: none;
    overflow: hidden;

&:hover:after,
&:focus:after,
&:active:after {
     width: 100%;
 }

&:after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 50%;
     width: 0%;
     transform: translateX(-50%);
     height: 3px;
     background: $color-link;
     transition: 0.35s;
 }
}
}
}
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1% 10%;
  text-decoration: none;
  font-size: 37px;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
