<div class="" [ngClass]="isDesktop() ? 'cont s--signup' : 'cont-mobile'">
    <div [ngClass]="isDesktop() ? 'sub-cont' : 'sub-cont-mobile'">
        <div class="img" *ngIf="isDesktop()">
            <div class="img__text m--in">
                <h2>Sei già uno di noi?</h2>
                <p>Se hai già un account, accedi. Ci sei mancato!</p>
            </div>
            <div class="img__btn" routerLink="/login">
                <span class="m--down">Accedi</span>
            </div>
        </div>
        <div [ngClass]="isDesktop() ? 'form sign-up' : 'form-mobile'">
            <h2>E' il momento di sentirsi a casa</h2>
            <label>
                <span>Email</span>
                <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" />
            </label>
            <label>
                <span>Password</span>
                <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" />
            </label>
            <button type="button" class="submit" (click)="sighUp()">Registrati</button>
            <button type="button" class="fb-btn" (click)="signUpWithGoogle()">Registrati con <span>Google</span></button>
            <br *ngIf="!isDesktop()">
            <hr *ngIf="!isDesktop()">
            <button *ngIf="!isDesktop()" type="button" class="submit" routerLink="/login">Accedi</button>
        </div>
    </div>
</div>


<app-loader *ngIf="load"></app-loader>
