<div class="container">
    <h3>Clicca su una delle nostre politiche per visualizzarne il contenuto</h3>
    <br>
    <br>
    <div class="col-md-3">
        <a href="https://www.websitepolicies.com/policies/view/hqaRjT7q" target="_blank">- Cookie Policy</a>
    </div>
    <div class="col-md-3">
        <a href="https://www.websitepolicies.com/policies/view/oBMoeQEk" target="_blank">- Privacy Policy</a>
    </div>
    <div class="col-md-3">
        <a href="https://www.websitepolicies.com/policies/view/RUqgaHPb" target="_blank">- Termini e condizioni</a>
    </div>
    <hr>
    <h3>In caso ti annoiassi a leggere i documenti, ecco due patate</h3>
    <img src="assets/images/potatoes-ketchup-murder-blood-111130.jpeg" width="75%" height="75%">
</div>
