<app-loader *ngIf="load"></app-loader>

<div class="container">
    <br>
    <h1 style="text-align: center">Offerte in vetrina</h1>
    <br>
    <div class="row">
        <div class="{{isVertical() ? 'col-xl-3' : 'col-xs-3'}}" [ngClass]="isDesktop() ? '' : 'colonna'"
             style="padding-left: 5px; padding-right: 5px; padding-bottom: 20px"
             *ngFor="let e of eventi">
            <app-event-card [evento]="e"></app-event-card>
        </div>
    </div>
</div>
