<div id="cont" [ngClass]="isDesktop() ? 'cont' : 'cont-mobile'">
    <div class="" [ngClass]="isDesktop() ? 'form sign-in' : 'form-mobile'">
        <h2>Bentornato</h2>
        <label>
            <span>Email</span>
            <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" />
        </label>
        <label>
            <span>Password</span>
            <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" />
        </label>
        <p class="forgot-pass" routerLink="/forgot-password">Password dimenticata?</p>
        <button (click)="signInWithMail(email, password)" type="button" class="submit">Accedi</button>
        <button (click)="signInWithGoogle()" type="button" class="fb-btn">Accedi con <span>Google</span></button>
            <br *ngIf="!isDesktop()">
            <hr *ngIf="!isDesktop()">
            <button *ngIf="!isDesktop()" type="button" class="submit" routerLink="/sign-up">Registrati</button>
    </div>
    <div class="sub-cont" *ngIf="isDesktop()">
        <div class="img">
            <div class="img__text m--up">
                <h2>Sei nuovo?</h2>
                <p>Registrati e scopri un nuovo modo di acquistare fumetti!</p>
            </div>
            <div class="img__text m--in">
                <h2>Già uno di noi?</h2>
                <p>Se hai già un account, accedi semplicemente. Ci sei mancato!</p>
            </div>
            <div class="img__btn" (click)="switchForm()">
                <span class="m--up">Registrati</span>
                <span class="m--in">Accedi</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>E' tempo di sentirsi a casa</h2>
            <label>
                <span>Email</span>
                <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" />
            </label>
            <label>
                <span>Password</span>
                <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" />
            </label>
            <button (click)="signUp()" type="button" class="submit">Registrati</button>
            <button (click)="signUpWithGoogle()" type="button" class="fb-btn">Unisciti con <span>Google</span></button>
        </div>
    </div>
</div>

<app-loader *ngIf="load"></app-loader>
