<div class="container">
    <h2>Ti abbiamo inviato una mail di conferma!</h2>
    <h6>Per favore clicca sul link ricevuto per verificare la tua mail.</h6>
    <br>
    <p>Nel caso tu non abbia ricevuto la mail controlla nella cartella dello spam, altrimenti usa il pulsante sottostante per riceverne una nuova</p>
    <br>
    <hr>
    <br>
    <div class="row">
        <button class="btn btn-success" routerLink="/login">Ho confermato la mia mail!</button>
        <span style="width: 10px"></span>
        <button class="btn btn-danger" (click)="sendVerificationMailAgain()">Mandami un'altra mail</button>
    </div>
</div>
