<div class="my-2 mx-auto p-relative bg-white shadow-1 blue-hover" style="width: 360px; overflow: hidden; border-radius: 1px;">
    <img src="{{evento.copertina}}" alt="Man with backpack"
         class="d-block w-full">

    <div class="px-2 py-2">
        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
            {{evento.prezzo}} €
        </p>

        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
            {{evento.nomeEvento}}
        </h1>

        <p class="mb-1">
            {{evento.descrizione.length > 50 ? evento.descrizione.substr(0, 49) : evento.descrizione}} &hellip;
        </p>

    </div>

    <a href="#0" class="text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link">
        Leggi di più
    </a>



</div>
