<app-loader *ngIf="load"></app-loader>

<body class="profile-page">

<br>
<br>
<br>
<br>
<div class="main ">
    <div class="profile-content">
        <div class="container">
            <div class="main-raised"> <!-- da decidere se tenere o no questa div -->
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="{{user.photoURL === undefined ? 'assets/images/trasferimento.png' : user.photoURL}}" class="img-raised rounded-circle img-fluid">
                            </div>
                            <div class="name">
                                <h3 class="title">{{user.displayName === undefined ? user.email : user.displayName}}</h3>
                                <h6>{{user.displayName === undefined ? '' : user.email}}</h6>
                                <a (click)="sighOut()" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-sign-out"></i></a>
                                <a (click)="editUserData()" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-cog"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description text-center">
                    <p> </p>
                </div>


                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a id="events_list" (click)="switchPage()" class="nav-link active" role="tab" data-toggle="tab">
                                        <i class="material-icons">view_list</i>
                                        I tuoi annunci
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="new_event" class="nav-link" (click)="switchPage()" role="tab" data-toggle="tab">
                                        <i class="material-icons">add</i>
                                        Nuovo annuncio
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>


            <br>
            <hr>
            <br>
            <div *ngIf="showElements()">
                <h1 style="text-align: center">I tuoi annunci</h1>
                <br>
                <div class="row">
                    <div class="{{isVertical() ? 'col-xl-3' : 'col-xs-3'}}" [ngClass]="isDesktop() ? '' : 'colonna'"
                         style="padding-left: 5px; padding-right: 5px; padding-bottom: 20px"
                         *ngFor="let e of eventi">
                        <app-event-card [evento]="e"></app-event-card>
                    </div>
                </div>
            </div>

            <div *ngIf="!showElements()">
                <app-add-event [user]="user"></app-add-event>
            </div>


        </div>
    </div>
</div>
<br>
<br>
</body>
